body {
	width: 300px;
	margin: 0;
	position: relative;
}

@layer base {
	body {
		@apply bg-gray-100;
	}

	p,
	li {
		@apply leading-relaxed text-gray-500 tracking-wider;
	}

	h1,
	h2,
	h3 {
		@apply text-2xl sm:text-3xl md:text-4xl;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-gray-800 font-medium tracking-wide sm:leading-normal;
	}

	input,
	textarea {
		@apply text-gray-700;
	}
}
